@import "../../../shared/styles/colors";

.form-input-wrapper {
  width: 100%;
  margin-bottom: 16px;

  .label {
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    color: var(--label-color);
    padding-bottom: 4px;
  }

  .input {
    min-height: 50px;
    max-height: 50px;
    width: 100%;
    font-size: 18px;
    font-weight: normal;
    box-shadow: none !important;
    border-radius: 20px !important;

    &::placeholder {
      color: var(--placeholder-color);
      font-size: 16px;
      line-height: 24px;
    }

    &.error {
      border: 1px solid var(--error-color);
    }
  }

  p {
    margin-top: 2px;
    color: var(--error-color);
    white-space: nowrap;
  }
}
