.custom--card {
    border: 1px solid #F5F5F5;
    background: #fff;
    padding: 12px 24px;
    -webkit-box-shadow: 0px 8px 16px rgba(227, 0, 15, 0.04);
    -moz-box-shadow: 0px 8px 16px rgba(227, 0, 15, 0.04);
    box-shadow: 0px 8px 16px rgba(227, 0, 15, 0.04);
    transition: 0.8s ease;
    width: 100%;
}