@import "../../../shared/styles/partials/variables";
.custom--spin {
  height: 100%;

  .ant-spin-spinning {
    max-height: 100% !important;
  }

  .ant-spin-container {
    height: 100%;
  }
}

.load-app--spin {
  position: absolute !important;
  top: calc(50% - 40px);
  left: calc(50% - 30px);
}
