@import "../../../shared/styles/partials/variables";

.custom-input {
  background-color: $c-white;
  min-height: 50px;
  max-height: 50px;

  .input-wrapper {
    background-color: $c-white;
    min-height: 50px;
    max-height: 50px;
    // width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 17px 8px;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
    box-shadow: 0px 8px 16px rgba(50, 123, 190, 0.04);
    border-radius: 20px;

    &:hover {
      border-color: $c-hover-blue !important;
    }

    input {
      height: 100%;
      width: 100%;
      border: 0px;
      flex-grow: 1;
      margin-left: 7px;
      background-color: #fff;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #263238 !important;
      color: $c-grey-6c;

      &::placeholder {
        color: #DCDCDC;
        font-size: 16px;
        line-height: 24px;
      }
    }

    &.error {
      border: 1px solid red;
    }
  }

  p {
    color: red;
    white-space: nowrap;
  }
}

@media only screen and (max-width: $header-break-point) {
  .custom-input .input-wrapper {
    input {
      font-size: 13pt;
      letter-spacing: 0;
      line-height: 24px;
    }
  }
}

@media only screen and (max-width: 576px) {
  .custom-input .input-wrapper {
    min-height: 40px;
    max-height: 40px;
    margin-bottom: 8px;
    padding: 6px 2px;
    input {
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      color: #263238 !important;
    }
  }

  .custom-input p {
    position: absolute;
    left: 15px;
    bottom: 3px;
    font: normal normal 300 11px/10px;
  }
}
