/* .navbar {
  background-color: white;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
} */

  .navbar {
    display: none;
    position: absolute;
  }

@media (max-width: 992px) {
  .navbar {
    display: block;
    z-index: 1000;
  }
}



.logo {
  display: none;
}