.custom--breadcrumb {
  &--one {
    color: #808080;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;

    @media (max-width: 500px) {
        font-size: 22px;
        line-height: 28px;
    }
  }
  &--two  {
    color: #263238;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    @media (max-width: 500px) {
        font-size: 22px;
        line-height: 28px;
    }
  }
}


