@import '../partials/variables';

.claim__item {
  background-color: $c-white;
  border-radius: 8px;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px 0;

  &__icon {
    background-color: $c-body;
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 5px;
  }

  &__infos {
    text-align: center;
    &__date {
      color: #575f6b;
      margin-bottom: 5px;
    }
  }
}

.modal__claim {
  position: absolute;
  top: 0;
  right: 0;

  &__container {
    padding: 10px;

    &__row {
      background-color: $c-white;
      border-radius: 12px;
      margin: 8px 0;
      padding: 16px 12px;
    }
    &__button__back {
      background-color: $c-white;
      border-radius: 12px;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 4%;
      left: 4%;
      z-index: 99999;
      cursor: pointer;
    }

    &__item {
      &__title {
        padding-bottom: 15px;
      }
      &__date {
        padding: 0 15px;
        &__label {
        }
        &__input {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          width: 100%;
          background-color: $c-body;
          padding: 3px 10px;
          border-radius: 10px;
          border: 1px solid #ebeff5;
          margin: 10px 0;
        }
      }

      &__autocomplete {
        text-align: center;

        &__input {
          background-color: #f9f9fa;
          border: 1px solid #ebeff5;
          border-radius: 6px;
          height: 45px;
          width: 330px;
          padding: 0 10px;
          text-align: center;
        }

        &__list {
          padding: 10px;
        }
      }

      &__chose {
        background-color: $c-second-opacity;
        border-radius: 5px;

        padding: 4px;
        text-align: center;
        position: relative;
        &__close {
          background-color: $c-second;
          border-radius: 100%;
          padding: 2px;
          width: 15px;
          height: 15px;
          position: absolute;
          right: -5px;
          top: -5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .ant-checkbox-checked::after {
        border: 1px solid $c-second;
      }
      .ant-checkbox-checked .ant-checkbox-inner {
        background-color: $c-second;
        border-color: $c-second;
      }
    }
  }

  .ant-modal-content {
    background-color: $c-body;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
}

.claim__attachments {
  background-color: $c-white;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  &__images {
    margin-right: 30px;
    padding-left: 10px;
    img {
      width: 60px;
    }
  }
  &__content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    h3 {
      padding-bottom: 12px;
    }
  }
}

.zIndex {
  z-index: 9;
}

.modal-claim-container {
  height: 100vh;
  border-radius: 0;
  padding: 32px;
  background-color: #fbfcff;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  .modal-claim-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    p {
      flex-grow: 1;
      text-align: center;
      font: normal normal 500 32px/52px Montserrat;
      color: $c-grey-35;
    }
    .back {
      border: solid 1px $c-grey-e8;
      width: 64px;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
  .modal-claim-content {
    flex-grow: 1;
    margin-top: 75px;
  }
  .modal-claim-content-no-marg {
    flex-grow: 1;
  }
}
.modal-claim-container::-webkit-scrollbar {
  display: none;
}
.modal-claim-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.back:active {
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 479px) {
  .modal__claim {
    &__container {
      &__button__back {
        position: absolute;
        top: 2%;
        left: 4%;
      }
    }
  }

  .modal-claim-container {
    padding: 12px;
    .modal-claim-header {
      p{
        font: normal normal 500 16px/20px Montserrat;
      }
    .back {
      width: 32px;
      height: 32px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .modal__claim {
    &__container {
      &__button__back {
        position: absolute;
        top: 2%;
        left: 4%;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}
