.table-select {
  margin-bottom: 0;
}

.table-input {
  margin-bottom: 0;
  .form-input-wrapper {
    margin-bottom: 0;
  }
}

.table-date-picker {
  margin-bottom: 0;
}

.cell-center {
  text-align: center;
}

.cell-action {
  text-align: center;
  color: #808080;
}

.form-table {
  .ant-table-tbody > tr > td {
    border-bottom: none;
  }
}

.card--form {
  margin-bottom: 24px;

  &--title {
    padding-bottom: 24px;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #263238;

    @media (max-width: 700px) {
      padding-bottom: 12px;
    }
  }

  &--avatar--wrapper {
    width: 70px;
    height: 90px;
    margin-bottom: 16px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: 500px) {
      height: 250px;
      width: auto;

      img {
        width: 100%;
      }
    }
  }

  &--text {
    padding-bottom: 24px;
    color: #808080;
    font-size: 16px;
    line-height: 24px;
  }

  &--head {
    background-color: #fbfbfb;
    box-shadow: inset 0px -1px 0px #f5f5f5;
    padding: 8px 16px;
    margin-bottom: 24px;

    h4 {
      color: #808080;
      font-size: 14px;
      line-height: 22px;
      font-weight: 500;
    }
  }

  &--item {
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;

    @media (max-width: 700px) {
      padding-bottom: 12px;
    }

    &--label {
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #808080;
      padding-bottom: 4px;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &--list {
    &--field {
      height: 70px;
    }

    .btn {
      margin-top: 10px;

      &--icon {
        height: 50px;
      }
    }
  }

  .ant-form-item {
    margin-bottom: 0 !important;
  }

  .m-16 {
    margin: 16px 0;
  }

  #dynamic_form_nest_item {
    .ant-form-item {
      padding: 0px 8px;
    }
  }
}
