.custom--sider--menu {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  padding: 0 12px;

  &--items {
    &--link {
      padding: 8px 12px;

      a,
      p {
        font-size: 16px;
        line-height: 24px;
        color: #808080;
        cursor: pointer;
      }
      &:hover a,
      &:hover p {
        background: #f5f5f5;
        color: $c-hover-blue;
      }
    }

    &--link:hover,
    &--link.active {
      background: #f5f5f5;
    }

    &--link.active a {
      color: #0f6aff;
    }
  }
}
